.content-area {
	background: pink;
	float: right;
	margin: 0 0 0 (-$size__site-sidebar);
	width: $size__site-main;
}

.site-main {
	background: purple;
	margin: 0 0 0 $size__site-sidebar;
}

.site-content .widget-area {
	background: orange;
	float: left;
	overflow: hidden;
	width: $size__site-sidebar;
}

.site-footer {
	background: yellow;
	clear: both;
	width: $size__site-main;
}